{% extends "base.html" %}

{% block title %}About{% endblock title %}

{% block body %}
<p class="fw-lighter">
  
    Welcome to our online emporium, where convenience meets quality! Our digital aisles are stocked
    with a cornucopia of delights to cater to your every need. Just like navigating your favorite
    supermarket, our website is designed to guide you effortlessly through our extensive selection. 
    From farm-fresh produce to pantry staples and gourmet treats, we're your one-stop-shop for culinary adventures. 
    Meet the faces behind the scenes, our dedicated team committed to ensuring your shopping experience is nothing short of exceptional. 
    Whether you're a seasoned chef or a novice in the kitchen, our blog and recipe section are brimming with inspiration.
    Join our virtual community and embark on a gastronomic journey with us!</p>

<br>
<div class="container">
    <br> Contact us : </br>
    <br>
     <a class="dropdown-item" href="#"><i class="bi bi-facebook">  facebook</i></a>
     <a class="dropdown-item" href="#"><i class="bi bi-instagram"> instagram</i></a>
     <a class="dropdown-item" href="#"><i class="bi bi-whatsapp"> whatsapp</i></a>
</br>
 </div>
</br>
    {% endblock body %}