{% extends "base.html" %}

{% block title %} Onsale {% endblock title %}

{% block body %}
<div class="container">
  <div class="row"> <div class="col-4"><div class="card">
  <img src="https://ae01.alicdn.com/kf/Sed5b737a7eb34f198f0289847efee44aA/Classic-White-Shoes-Men-Lace-up-Solid-Sneakers-Male-Casual-Genuine-Leather-Flats-Soft-Low-Top.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><p class="text-decoration-line-through"> $80 </p> $50</h5>
    <p class="card-text">;</p>
    <a href="#" class="btn btn-primary">Add to cart <i class="bi bi-cart4"></i></a>
  </div>
</div>
</div>

<div class="col-4"><div class="card">
  <img src="https://images-cdn.ubuy.co.in/652c0b64945a4f348b7dc78e-mens-flannel-plaid-shirt-men-39-s.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">30% OFF</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Add to cart <i class="bi bi-cart4"></i></a>
  </div>
</div> </div>

<div class="col-4"><div class="card">
  <img src="https://ae01.alicdn.com/kf/Sed5b737a7eb34f198f0289847efee44aA/Classic-White-Shoes-Men-Lace-up-Solid-Sneakers-Male-Casual-Genuine-Leather-Flats-Soft-Low-Top.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Add to cart <i class="bi bi-cart4"></i></a>
  </div>
</div>
</div>
</div>


</div>
{% endblock body %}